body{
  font-family:arial;
  background-color: #cacaca;
  position: absolute;
  width: 100%;
  height: 100%;
}
ul{
  padding:0
}
ul li{
  list-style-type:none;
  margin-bottom:$margin-standard;
  font-size:$text-regular;
}
ul li a{
  color:$main-text;
}
ul li a:hover{
  color:$main-text-hover;
}
h2{
  margin-top:$margin-standard;
  color:$main-text;
}
h3{
  margin-top:0;
  margin-bottom:$margin-standard;
  font-size:$text-regular;
  font-weight: bold;
  color:$main-text;
}
.section-container{
  border: 1px solid $border-color;
  border-top:0;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  padding: $padding-medium;
  padding-left: $padding-large;
  padding-top:$padding-large;
  background-color: $sectionContainerBgColor;
  color:$main-text;
}
#videoPlayerContainer, #photosPlayerContainer{
  position: absolute;
  width:100%;
  height:100%;
  padding-bottom:$padding-large;
  top: 0;
  padding-top: 20px
}
