//colors
$main-text: #5e5e5e;

//fonts
$text-regular: 14px;

//margins
$margin-standard: 10px;
$margin-large: 50px;

//padding
$padding-standard: 10px;
$padding-large: 50px;

//video settings
$video-max-width: 960px;//set to video's original horizontal width