//colors
$main-text: #e6e5e5;
$main-text-hover: #f1f1f1;
$video-watched: #bfbfbf;

$selected: #85b779;
$unselected: #b7b7b7;
$sectionContainerBgColor: #4f4f4f;
$heartSelected: red;


//borders
$border-color: #757575;
$border-radius: 20px;

//fonts
$text-regular: 12px;
$text-menu-top: 20px;

//margins
$margin-standard: 10px;
$margin-medium: 20px;
$margin-large: 50px;

//padding
$padding-standard: 10px;
$padding-medium: 20px;
$padding-large: 50px;

//video settings
$video-max-width: 960px;//set to video's original horizontal width